{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Dojopy Mentor</title>
{% endblock %}

{% block main_content %}
    <!-- banner part start-->
    <section class="banner_part" id="dojopy">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-xl-6">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                            <h1>Dojopy Mentor</h1>
                            <h2>Aprende a programar con tu mentor.</h2>
                            <p><i> Now is better than never</i> </p>
                            <p><i> - Zen Python</i> </p>
                            <a href="#connect" class="btn_1">Unete a Dojopy</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner part start-->
{% endblock %}


{% block info_dojopy %}
    <!-- learning part start-->
    <section class="learning_part">
        <div class="container">
            <div class="row align-items-sm-center align-items-lg-stretch">
                <div class="col-md-7 col-lg-7">
                    <div class="learning_img">
                        <img src="/static/base/img/learning_img.png" alt="">
                    </div>
                </div>
                <div class="col-md-5 col-lg-5">
                    <div class="learning_member_text">
                        <h5>Dojopy Mentor</h5>
                        <h2>¿QUÉ ES DOJOPY MENTOR?</h2>
                        <p style="font-size:1.3rem">

                            Tu Mentor te guiará en la aventura que todo ninja programador recorre,
                             con aprendizaje personalizado e individual, desarrolla proyectos con tu mentor,
                              en cualquier momento y lugar recibe mentorías online en vivo por videollamada,
                              forma parte de  nuevas experiencias de aprendizaje.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- learning part end-->
{% endblock %}



{% block talleres %}

<br>
    <!--::review_part start::-->
    <section class="special_cource" id="talleres">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="section_tittle text-center">
                        <p>Aprende con tu Mentor</p>
                        <h2>Talleres online en vivo con tu Mentor</h2>
                    </div>
                </div>
            </div>
            <div class="row" style="justify-content:center;">
                <div class="col-sm-5 col-lg-5">
                    <a href="/mentor/python-de-cero-a-ninja">
                        <div class="single_special_cource" style=" border:1px solid #9ff669;">
                            <img src="/static/base/img/taller-python.png" height="max-width: 100%;height: auto;" class="special_img" alt="">
                            <div class="special_cource_text">
                                <!-- <a href="#" class="btn_4">Taller de Python</a> -->
                                <div class="row"style="justify-content:center" >
                                    <h3 style="font-size:1.6rem">Taller de Python</h3>
                                    <h4 style="font-size:1.5rem" > 2 pagos de S/ 145.00</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <br><br>
{% endblock %}
    <!--::blog_part end::-->
