{% extends "base.html" %}

{% block title %}
<title>Dojopy - Checkout Taller Python</title>
{% endblock %}

{% block preview_fb %}
    <!--FACEBOOK-->
    <meta property="og:image" content="/static/base/img/back_priview.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.dojopy.com"/>
    <meta property="og:title" content="Dojopy Mentor"/>
    <meta property="og:description" content="Aprende a Programar con tu Mentor de Cero a Ninja." />
    <style media="screen">
        .modal {
    position: fixed;
    top: 25%;
    right: 3%;
    left: 3%;
    width: auto;
    margin: 0;
}
.modal-body {
    height: 60%;
}
    </style>
{% endblock %}

{% block main_content %}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">PAGO EFECTIVO</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="col-md-12 mb-6">
              <label for="lastName">Email</label>
              <input type="text" class="form-control" id="email_2" placeholder="correo electrónico" value="" required="">
              <div class="invalid-feedback">
                  correo electrónico
              </div>
          </div>

      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
        <button type="button" class="btn btn-primary">Generar Código de Pago</button>
      </div>
    </div>
  </div>
</div>

<section class="learning_part">
    <div class="container">
        <div class="row align-items-sm-center align-items-lg-stretch">


            <!-- Button trigger modal -->


            <div class="container">
                            <div class="row py-5">
                                <div class="col-md-4 order-md-2 mb-4">
                                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                                        <span class="text-muted">Carrito de Compras</span>
                                        <span class="badge badge-secondary badge-pill">1</span>
                                    </h4>
                                    <ul class="list-group mb-3">
                                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                                            <div>
                                                <h6 class="my-0">Taller Python de Cero a Ninja</h6>
                                                <small class="text-muted">Dojopy</small>
                                            </div>
                                            <span style="color:#31de79" class="text-muted">$ 49</span>
                                        </li>

                                        <li class="list-group-item d-flex justify-content-between">
                                            <span>Total</span>
                                            <strong style="font-size:1rem; color:#31de79">$ 49</strong>
                                        </li>
                                    </ul>

                                </div>
                                <div class="col-md-8 order-md-1">
                                    <h4 style="font-size:1.8rem" class="mb-3">Tus Datos</h4>
                                        <div class="row">
                                            <div class="col-md-6 mb-3">
                                                <label for="firstName">Nombre Completo</label>
                                                <input type="text" class="form-control" id="firstName" placeholder="Nombre Completo" value="" required="">
                                                <div class="invalid-feedback">
                                                    Nombre es requerido.
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="lastName">Email</label>
                                                <input type="text" class="form-control" id="lastName" placeholder="correo electrónico" value="" required="">
                                                <div class="invalid-feedback">
                                                    correo electrónico
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="lastName">Teléfono Móvil o Whatsapp</label>
                                                <input type="text" class="form-control" id="phone" placeholder="Teléfono Móvil o Whatsapp" value="" required="">
                                                <div class="invalid-feedback">
                                                    Teléfono Móvil es requerido.
                                                </div>
                                            </div>
                                        </div>


                                        <hr class="mb-4">

                                        <h4 class="mb-3">Selecciona tu Método de Pago</h4>

                                        <div class="d-block my-3">

                                            <div class="custom-control custom-radio">
                                                <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked="" required="">
                                                <label style="cursor: pointer;" class="custom-control-label" for="credit"> TARJETA
                                                    <img style="margin-left:16px"  width="220" src="/static/base/img/metodo-pago.png" alt="">

                                                </label>
                                            </div>
                                            <hr>
                                            <div class="custom-control custom-radio">
                                                <input id="pago-efectivo" name="paymentMethod" type="radio" class="custom-control-input" required="">
                                                <label style="cursor: pointer;" class="custom-control-label" for="pago-efectivo"> PAGO EFECTIVO
                                                    <img style="margin-left:-4px" width="170" src="/static/base/img/logo-pago-efectivo.jpg" alt="">
                                                </label>
                                            </div>
                                            <hr>
                                            <div class="custom-control custom-radio">
                                                <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required="">
                                                <label style="cursor: pointer;" class="custom-control-label" for="paypal"> PAYPAL
                                                    <img style="margin-left:60px" width="165" src="/static/base/img/metodo-paypal.png" alt="">
                                                </label>
                                            </div>
                                        </div>

                                        <br>
                                        <button id="buyButton" class="btn btn-success btn-lg btn-block">
                                            <i class="fa fa-credit-card"></i> PROCEDER PAGO</button>
                                </div>
                            </div>
                        </div>

        </div>
    </div>
</section>


{% endblock %}

{% block cont_mentores %}
{% endblock %}


{% block talleres %}
{% endblock %}

{% block info_dojopy %}
{% endblock %}

{% block contact %}
{% endblock %}

{% block stack_it %}
{% endblock %}

{% block my_script %}
<script src="https://checkout.culqi.com/js/v3"></script>
<script>


function send_tk(token){
        var firstName = $("#firstName").val()
        var lastName = $("#lastName").val()
        var phone = $("#phone").val()

        // console.log(firstName, lastName, Culqi.token.email);
         $.ajax({
               type: "POST",
               url : '/checkout',
               enctype: 'multipart/form-data',
               data: {
                      "token_payment_gateway": token,
                      "firstName": firstName,
                      "lastName": lastName,
                      "email": Culqi.token.email,
                      "phone": phone,
                      "tk_django": "{{tk_django}}"
                  },
               encode: true
           })
           .done(function(data){
               console.log("checkout ok");
               if (data.token_active){
                   console.log('checkout Ok');
                   window.location.href = '/checkout/success';
               }else{
                   console.log('checkout Error');
                   location.reload();
               }
           })
           .fail(function(data){
               console.log("checkout Error");
                });
}

function culqi() {
      if (Culqi.token) {
        var token = Culqi.token.id;
        send_tk(token)
      } else {
        console.log(Culqi.error);
      }
};

    Culqi.publicKey = 'pk_test_QfmMu2RtRgv6TEtg';
    Culqi.settings({
        title: "Taller Python de Cero a Ninja",
        currency: 'USD',
        description: "Taller Python de Cero a Ninja",
        amount: 49
    });
    Culqi.options({
    lang: 'auto',
    modal: true,
    installments: false,
    customButton: 'Pagar',
    style: {
      logo: 'https://dojopy.com/static/base/img/checkout-logo.png',
      maincolor: '#31de79',
      buttontext: '#ffffff',
      maintext: '#4A4A4A',
      desctext: '#4A4A4A'
    }
});

    $('#buyButton').on('click', function(e) {

        $('#exampleModal').modal('show')

        // Culqi.open();
        // e.preventDefault();
    });

</script>

{% endblock %}
