{% extends "base.html" %}

{% block title %}
<title>Dojopy - Checkout Success </title>
{% endblock %}

{% block main_content %}

<section class="learning_part">
    <div class="container">
        <div class="row align-items-sm-center align-items-lg-stretch">
            <div class="col-md-12 col-lg-12">
                <div class="learning_member_text" style="text-align:center">
                    <br><br>
                    <div class="title" >
                        <img height="110" src="/static/base/img/checkout_success.png" alt="">
                    </div>
                    <p  style="font-size:2rem; padding-top:15px" class="title">Checkout Exitoso!</p>
                    <p style="font-size:1.2rem" >Nos pondremos en contacto lo antes posible, gracias.</p>
                    <br><br>
                    <p style="font-size:1.2rem" >
                        <i>Atentamente el equipo de Dojopy.</i>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}


{% block cont_mentores %}
{% endblock %}

{% block contact %}
{% endblock %}

{% block talleres %}
{% endblock %}

{% block info_dojopy %}
{% endblock %}

{% block stack_it %}
{% endblock %}
