{% extends "base.html" %}

{% block title %}
<title>Dojopy - Contacto </title>
{% endblock %}

{% block main_content %}

{% endblock %}

{% block contact %}
    <section class="learning_part" id="connect">
        <div class="container">
            <div class="row justify-content-center">
                 <div class="col-xl-5">
                    <div class="section_tittle text-center">
                        <p><i> Now is better than never</i> </p>
                        <p><i> Zen Python</i> </p>
                        <h2>Unete a Dojopy</h2>
                    </div>
                </div>
                <div class="col-10">
                </div>
                <div class="col-7">
                    <input type="text" id="username" name="name" placeholder="Tu Nombre" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Tu Nombre'" required="" class="single-input" style=" border:1px solid #9ff669;" >
                    <br>
                    <input type="text" id="email" name="email" placeholder="Tu Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Tu Email'" required="" class="single-input" style=" border:1px solid #9ff669;">
                    <br>
                    <input type="text" id="phone" name="phone" placeholder="Tu Telefono Móvil o Whatsapp" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Tu Telefono Móvil o Whatsapp'" required="" class="single-input" style=" border:1px solid #9ff669;">
                    <br>
                    <input type="text" id="message" name="message" placeholder="Tu Mensaje" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Tu mensaje'" required="" class="single-input" style=" border:1px solid #9ff669;">
                    <br>
                </div>
                <div class="col-10">
                </div>
                <button id="join_dojopy" class="col-4 btn btn_1" type="button">Enviar  <i class="ti-angle-right"></i></button>
                <div class="col-12">

                </div>

                <br><br><br><br>

                <div id="fb-root"></div>
                <div class="fb-like" data-href="https://www.facebook.com/dojopy/" data-width="" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
            </div>
        </div>


    </section>

    {% endblock %}


{% block cont_mentores %}
{% endblock %}

{% block talleres %}
{% endblock %}

{% block info_dojopy %}
{% endblock %}

{% block stack_it %}
{% endblock %}
