<div class="content_wrapper">
    <div class="blog_details">
        <div class="content">
            <h3 class="title" style="">Fechas de Inicio</h3>
            <p>
                <ul class="unordered-list" style="font-size:1.1rem">
                    <li style="margin:5px;color:#666666">Viernes 29 de Noviembre. <br> <span style="color:green">&nbsp; Cupos Libre</span> </li>
                    <li style="margin:5px;color:#666666">Sábado 30 de Noviembre. <br> <span style="color:green">&nbsp; Cupos Libre</span> </li>
                    <li style="margin:5px;color:#666666">Domingo 1 de Diciembre. <br> <span style="color:green">&nbsp; Cupos Libre</span></li>
                </ul>
            </p>
            <hr>
            <h3 class="title" style="">¡Escoge tu propio Horario!</h3>

            <ul class="unordered-list" style="font-size:1.1rem">
                <li style="margin:5px;color:#666666">Escoge tu horario más ideal para empezar la mentoría</li>
                <li style="margin:5px;color:#666666">Sesiones Live Coding de 3 horas(15 minutos de break)</li>
            </ul>
            <br/>
        </div>
    </div>
</div>
