<div class="content_wrapper">
    <div class="blog_details">
        <div class="content">
            <h3 class="title" style="">Fechas de Inicio</h3>
            <p>
                <ul class="unordered-list" style="font-size:1.1rem">
                    <li style="margin:5px;color:#666666"> <del> Viernes 6 de Diciembre(Horario de Mañana).</del> <br> <span style="color:red">&nbsp; Cupos Agotados</span> </li>
                    <li style="margin:5px;color:#666666">Sábado 7 de Diciembre(Horario de Mañana). <br> <span style="color:green">&nbsp; 3 Cupos Libre</span> </li>
                    <li style="margin:5px;color:#666666">Domingo 8 de Diciembre(Horario de Mañana). <br> <span style="color:green">&nbsp; 4 Cupos Libre</span></li>
                    <li style="margin:5px;color:#666666">Sábado 14 de Diciembre(Horario de Mañana). <br> <span style="color:green">&nbsp; 5 Cupos Libre</span> </li>
                    <li style="margin:5px;color:#666666">Domingo 15 de Diciembre(Horario de Mañana). <br> <span style="color:green">&nbsp; 5 Cupos Libre</span></li>

                </ul>
            </p>
            <hr>
            <h3 class="title" style="">Horario de transmisión Mañana <br> (Live Coding)</h3>

            <ul class="unordered-list" style="font-size:1.1rem">
                <li style="margin:5px;color:#666666">Horario 9:00AM - 12:00PM  </li>
                <li style="margin:5px;color:#666666">  Zona horaria(America/Lima) / UTC-5</li>
                <li style="margin:5px;color:#666666">Sesiones(Live Coding & videollamada) de 3 horas(break de 15m)</li>
                <li style="margin:5px;color:#666666">1 sesión semanal</li>
                <li style="margin:5px;color:#666666">12 horas de mentoría mensual</li>
            </ul>
            <hr>
            <h3 class="title" style="">¿ Si pierdo la Sesión Live Coding ?</h3>
            <ul class="unordered-list" style="font-size:1.1rem">
                <li>Todas las sesiones Live Coding serán grabadas por lo que podrás reproducirlo luego.</li>
                <li>Tambien Tendrás acceso a la plataforma de contenidos y proyectos con soporte de chat 24/7</li>
            </ul>
        </div>
    </div>
</div>
