<div class="content_wrapper">
    <div class="blog_details">
        <div class="content">
            <h3 class="title" style="">Fechas de Inicio</h3>
            <p>
                <ul class="unordered-list" style="font-size:1.1rem">
                    <li style="margin:5px;color:#666666">Miércoles 1 de Diciembre(Horario Flexible). <br> <span style="color:green">&nbsp; Cupos Libre</span> </li>
                    <li style="margin:5px;color:#666666">Jueves 2 de Diciembre(Horario Flexible). <br> <span style="color:green">&nbsp; Cupos Libre</span> </li>
                    <li style="margin:5px;color:#666666">Viernes 3 de Diciembre(Horario Flexible). <br> <span style="color:green">&nbsp; Cupos Libre</span> </li>
                    <li style="margin:5px;color:#666666">Sábado 4 de Diciembre(Horario Flexible). <br> <span style="color:green">&nbsp; Cupos Libre</span> </li>
                    <li style="margin:5px;color:#666666">Domingo 5 de Diciembre(Horario Flexible). <br> <span style="color:green">&nbsp; Cupos Libre</span></li>
                </ul>
            </p>
            <hr>
            <h3 class="title" style="">Horarios Flexibles</h3>

            <ul class="unordered-list" style="font-size:1.1rem">
                <li style="margin:5px;color:#666666">Horarios flexibles e idóneo para tú mentoría.</li>
                <li style="margin:5px;color:#666666">Sesiones(Live Coding & videollamada) de 2 horas</li>
                <li style="margin:5px;color:#666666">1 sesión semanal</li>
                <li style="margin:5px;color:#666666">8 horas de mentoría mensual</li>
            </ul>
            <br/>
        </div>
    </div>
</div>
