<div class="row" style="justify-content:center;">
    <div class="col-sm-12 col-lg-12">
            <div class="single_special_cource" style=" border:1px solid #9ff669;">
                <img src="/static/base/img/taller-python.png" height="max-width: 100%;height: auto;" class="special_img" alt="">
                <div class="special_cource_text">
                    <div class="row" style="justify-content:center">
                        <div class="col-10 rating" style="text-align:-webkit-center;  padding:5px">
                            <a href="#"><img src="/static/base/img/icon/color_star.svg" alt=""></a>
                            <a href="#"><img src="/static/base/img/icon/color_star.svg" alt=""></a>
                            <a href="#"><img src="/static/base/img/icon/color_star.svg" alt=""></a>
                            <a href="#"><img src="/static/base/img/icon/color_star.svg" alt=""></a>
                            <a href="#"><img src="/static/base/img/icon/color_star.svg" alt=""></a>
                        </div>

                        <div class="col-11" style="color: #0c2e60;font-weight: 550;text-align: -webkit-center;padding: 5px;">
                            <img height="25px" src="/static/base/img/live-code.png" alt="">  coding


                        </div>
                        <div class="col-11">
                        </div>
                        <h4 style="font-size:1.4rem;font-weight:500; padding:5px;text-align-last:center" >
                            Duración: 2 Meses
                        </h4>

                        <div class="col-11" style="text-align: center; padding-bottom:10px">
                            <span  style="font-size:30px" class="flag-icon flag-icon-{{country_flag}}"></span>
                        </div>

                        <h4 style="font-size:1.7rem; color:#31de79;font-weight:575; padding:5px; margin-top:7px" >{{simbol}} {{mount}} mensual</h4>

                    </div>

                </div>
            </div>
            <br>
            <a href="https://{{uri_whatsapp}}.whatsapp.com/send?phone=51935489552&text=Hola%2C%20quisiera%20reservar%20la%20mentoría%20gratuita." class="btn_1 d-block" style="margin:10px;font-size:1.1rem;text-align:center">
                <b>
                    Reservar Mentoría Gratuita
                </b>
            </a>
            <!-- <a href="#" class="btn_1 d-block" style="margin:10px">Comprar Ahora</a> -->
    </div>
</div>
