{% extends "base.html" %}

{% block title %}
<title>Dojopy - Shop </title>
{% endblock %}

{% block main_content %}

<section class="special_cource" id="talleres">
    <br><br><br><br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5" style="padding:1px">
                <div class="section_tittle text-center">
                    <br>
                    <h2>Python Temario <br>(Mes 1 y 2)</h2>
                </div>
            </div>
        </div>

         <div class="content_wrapper">
                            <div class="blog_details">
                                <div class="content">
                                    <h3 class="title">TEMARIO</h3>
                                <ul class="unordered-list" style="font-size:1.1rem; color:#666666">
                                    <li> Introducción al lenguaje de programación python</li>
                                    <li> Instalación de Python y mi primer programa "Hola Mundo"</li>
                                    <li>Preparando el entorno de desarrollo con Virtualenv</li>
                                    <li>Tipos de datos:
                                        <ul>
                                            <li>Booleanos</li>
                                            <li>Enteros</li>
                                            <li>Flotantes</li>
                                            <li>Listas</li>
                                            <li>Tuplas</li>
                                            <li>Diccionarios y Conjuntos SET</li>
                                        </ul>
                                    </li>

                                    <li>Operadores lógicos y Flujos de control
                                        <ul>
                                            <li>Operadores, Sentencias</li>
                                            <li>Condicionales(if else), multiples</li>
                                            <li>Bucles FOR Y WHILE</li>
                                        </ul>
                                    </li>

                                    <li>  Entradas y Salidas Estándar</li>
                                    <li> Lectura y Escritura de Ficheros</li>
                                    <li> Funciones, argumentos</li>
                                    <li> Manejo de Excepciones(try except)</li>
                                    <li> Módulos y paquetes</li>
                                    <li>Guardando y leyendo datos con JSON</li>
                                    <li>Algoritmos de búsqueda:
                                        <ul>
                                            <li>Búsqueda lineal</li>
                                            <li>Búsqueda binaria</li>
                                        </ul>
                                    </li>
                                    <li>Encriptando datos con Python</li>
                                    <li>Concurrencia en Python con Hilos(Threads) y Multi Procesos</li>
                                    <li>Sockets</li>
                                    <li>Enviando correos automaticamente por SMTP</li>
                                    <li>Base de datos con Python</li>
                                    <li>Programación orientada a objetos (POO), Clases y Objetos</li>
                                    <li>Expresiones regulares</li>
                                    <li>módulos de scraping</li>
                                    <li>Proyectos de  Web Scraping</li>
                                    <li>Tips y Buenas prácticas en desarrollo:
                                        <ul>
                                            <li>Funciones Anónimas, Generadores y Decoradores</li>
                                        </ul>
                                    </li>
                                </ul>
                                </div>
                            </div>
                        </div>
                        <br>
                        <a href="/contacto" class="btn_1 d-block" style="margin:10px;font-size:1.1rem;text-align:center">
                            <b>
                                INSCRIBIRME AHORA
                            </b>
                        </a>


    </div>
</section>
<br><br>                                <br>


{% endblock %}


{% block cont_mentores %}
{% endblock %}

{% block contact %}
{% endblock %}

{% block talleres %}
{% endblock %}

{% block info_dojopy %}
{% endblock %}

{% block stack_it %}
{% endblock %}
