{% extends "base.html" %}

{% block title %}
<title>Dojopy - Shop </title>
{% endblock %}

{% block main_content %}

<section class="special_cource" id="talleres">
    <br><br><br><br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5" style="padding:1px">
                <div class="section_tittle text-center">
                    <h2>Dojopy Shop</h2>
                </div>
            </div>
        </div>

        <div class="row" style="justify-content:center;">
            <div class="col-sm-5 col-lg-5">

                    <div class="single_special_cource" style=" border:1px solid #9ff669;">
                        <a href="https://m.me/dojopy">
                            <img src="/static/base/img/shirt-python.jpg" height="max-width: 100%;height: auto;" class="special_img" alt="">
                        </a>

                        <div class="special_cource_text">
                            <div class="row" style="justify-content:center">

                                    <div class="col-10 rating" style="text-align:-webkit-center">
                                        <a href="#"><img src="/static/base/img/icon/color_star.svg" alt=""></a>
                                        <a href="#"><img src="/static/base/img/icon/color_star.svg" alt=""></a>
                                        <a href="#"><img src="/static/base/img/icon/color_star.svg" alt=""></a>
                                        <a href="#"><img src="/static/base/img/icon/color_star.svg" alt=""></a>
                                        <a href="#"><img src="/static/base/img/icon/color_star.svg" alt=""></a>
                                    </div>
                                    <a href="https://m.me/dojopy">
                                        <h3 style="font-size:1.6rem; text-align-last:center">Python Shirt <br> "Now is better than never" </h3>
                                    </a>

                                <div class="col-9">
                                </div>
                                <h4 style="font-size:1.7rem; color:#31de79" > $ 25.00 USD</h4>
                                <div class="col-11">
                                </div>

                                        <a style="font-size:1rem" class="btn_1" href="https://m.me/dojopy">Comprar</a>

                            </div>
                        </div>
                    </div>
            </div>
        </div>


    </div>
</section>
<br><br>                                <br>


{% endblock %}


{% block cont_mentores %}
{% endblock %}

{% block contact %}
{% endblock %}

{% block talleres %}
{% endblock %}

{% block info_dojopy %}
{% endblock %}

{% block stack_it %}
{% endblock %}
