{% extends "base.html" %}

{% block title %}
<title>Dojopy - Taller Python</title>
{% endblock %}

{% block preview_fb %}
    <!--FACEBOOK-->
    <meta property="og:image" content="/static/base/img/back_priview.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.dojopy.com"/>
    <meta property="og:title" content="Dojopy Mentor"/>
    <meta property="og:description" content="Aprende a Programar Creando una Startup con tu Mentor." />
{% endblock %}


{% block main_content %}

<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner text-center">
                    <div class="breadcrumb_iner_item">
                        <h2>Aprende a Programar Creando <br> una Startup con Python</h2>
                        <p style="font-size:1.4rem; color:white"><i> Now is better than never</i> </p>
                        <p style="font-size:1.4rem; color:white"><i> - Zen Python</i> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->


<section class="course_details_area section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 course_details_left">
                <!-- <div class="main_image">
                    <img class="img-fluid" src="/static/base/img/single_cource.png" alt="">
                </div> -->
                <div class="content_wrapper">
                    <div class="blog_details">
                        <div class="content">
                            <div class="title">
                                <img height="117" src="/static/base/img/startup.png" alt="">
                            </div>

                            <h3 class="title">¿ POR QUÉ UNA STARTUP ?</h3>

                            <ul class="unordered-list" style="font-size:1.1rem">
                                <li style="margin:5px">
                                    En Dojopy creemos que el camino ideal para aprender a programar
                                    es creando proyectos Startup mediante el <a target="_blank" href="https://www.inboundcycle.com/blog-de-inbound-marketing/bid/189238/qu-es-el-mvp-o-producto-m-nimo-viable">MVP(producto mínimo viable) </a>
                                    con tu Mentor.
                                </li>
                                <li style="margin:5px">
                                    No existe el momento perfecto para emprender o
                                    crear tu propia Startup o empresa digital, porque <i>"ahora es mejor que nunca"</i> <br> <i>-Zen Python</i>

                                </li>
                            </ul>
                            <br/>
                        </div>
                    </div>
                </div>

                <div class="content_wrapper">
                    <div class="blog_details">
                        <div class="content">
                            <div class="title">
                                <img height="117" src="/static/base/img/img_mentor.png" alt="">
                            </div>

                            <h3 class="title">¿ POR QUÉ UN MENTOR ?</h3>
                            <p style="font-size:1.1rem">
                                En Dojopy tu Mentor te guiará, motivará y responderá todas la preguntas
                                 o dudas que surjan en esta aventura, con dinámicas de aprendizaje grupal (máximo 5 alumnos por sesión),
                                desarrollando proyectos, compartiendo pantalla, videollamada y código en vivo (Live Coding). <br>
                                Con acceso a la plataforma de proyectos, código y videos exclusivos.
                            </p>
                            <br/>
                        </div>
                    </div>
                </div>
                <br>
                <div class="content_wrapper">
                    <div class="blog_details">
                        <div class="content">
                            <div class="title">
                                <img height="120" src="/static/base/img/python_logo.png" alt="">
                            </div>
                            <h3 class="title">¿ POR QUÉ APRENDER PYTHON ?</h3>
                            <p style="font-size:1.1rem">
Python es uno de los lenguajes de programación más valorados y usados a nivel mundial
 según estadísticas de <a target="_blank" href="https://insights.stackoverflow.com/survey/2019">Stack Overflow</a>
  la plataforma más grande de programadores,
 multitud de Startups y empresas lo utilizan en su día a día como Instagram, Spotify,
  Amazon, Netflix, Google, Facebook, Dropbox, Youtube, etc <br>
  Python es flexible, claro y con un código legible para todos.

                            </p>
                            <br/>
                        </div>
                    </div>
                </div>
                <br>
                <div class="content_wrapper">
                    <div class="blog_details">
                        <div class="content">
                            <div class="title">
                                <img height="100" src="/static/base/img/ninja.png" alt="">
                            </div>
                            <h3 class="title">¿ QUÉ CAPACIDADES TENDRÁS AL CULMINAR LA MENTORÍA DE 6 MESES ?</h3>

                            <ul class="unordered-list" style="font-size:1.1rem">
                                <li style="margin:5px">Tendrás las habilidades necesarias para empezar a trabajar como Freelancer y
                                generar tus propios ingresos</li>
                                <li style="margin:5px">Conseguir empleo como Desarrollador Full Stack con Python y Django. </li>

                                <li style="margin:5px">Emprender tu propia Startup o empresa tecnológica. </li>
                                <li style="margin:5px">Ser un Mentor en Dojopy, inspirar, motivar, brindar orientación a los nuevos programadores
                                de todo el mundo! y generar tus propios ingresos. </li>

                            </ul>
                            <hr><br>
                            <h3 class="title">TU OBSEQUIO AL CULMINAR</h3>
                            <div class="title">
                                <img height="80" src="/static/base/img/my-ecommerce.png" alt="">
                            </div>
                            <ul class="unordered-list" style="font-size:1.1rem">
                                <li>Te desplegamos tu propio Ecommerce (tienda virtual) basada en Python y Django con integración de pasarelas de pago internacional y empezar tu camino al emprendimiento digital o Startup! .</li>
                            </ul>
                            <br>
                            <div class="title">
                                <img height="80" src="/static/base/img/startup.png" alt="">
                            </div>
                            <ul class="unordered-list" style="font-size:1.1rem">
                                <li>Como crear una Startup o empresa tecnologíca usando Python y mutliples herramientas online disponiles. <br> (Mentalidad Emprendedor & branding & Marketing digital & Landing Page & Sale & Ecommerce & pasarelas de pago)</li>
                            </ul>

                            <br/>
                        </div>
                    </div>
                </div>
                <br>
                <div class="content_wrapper">
                    <div class="blog_details">
                        <div class="content">
                            <div class="title">
                                <img height="117" src="/static/base/img/learn.png" alt="">
                            </div>
                            <h3 class="title">¿ QUÉ APRENDERÁS EN 6 MESES ?</h3>
                            <p>
                                <ul class="unordered-list" style="font-size:1.1rem">
                                    <div class="title">
                                        <img height="80" src="/static/base/img/python_logo.png" alt="">
                                    </div>
                                    <li style="margin:5px">Aplicar y trabajar con el lenguaje de programación Python </li>
                                    <hr>
                                    <div class="title">
                                        <img height="80" src="/static/base/img/solve_problem.png" alt="">
                                    </div>
                                    <li style="margin:5px">Resolver problemas y crear soluciones en cualquier área profesional desarrollando proyectos y algoritmos con Python. </li>
                                    <hr>
                                <br>
                                    <div class="row" style="margin:5px;justify-content:center">
                                        <div class="title">
                                            <img height="70" src="/static/base/img/django-logo.jpg" alt="">
                                        </div>
                                        <div class="title">
                                            <img height="75" src="/static/base/img/medium.jpeg" alt="">
                                        </div>
                                        <div class="title">
                                            <img height="70" src="/static/base/img/docker.png" alt="">
                                        </div>
                                        <div class="title">
                                            <img width="110" src="/static/base/img/frontend.png" alt="">
                                        </div>
                                        <div class="title">
                                            <img height="70" src="/static/base/img/bootstrap-4.png" alt="">
                                        </div>
                                        <div class="title">
                                            <img height="70" src="/static/base/img/metodo-pago.png" alt="">
                                        </div>
                                        <div class="title">
                                            <img height="70" src="/static/base/img/metodo-paypal.png" alt="">
                                        </div>

                                    </div>
                                    <li style="margin:5px">Desarrollo Web Full Stack con Django & Landing Page/Sale & Crea tu Startup inspirada en <a target="_blank" href="https://medium.com/">Medium</a>  con microservicios, login redes sociales, CRUD y pasarelas de pagos internacional <br>(Visanet & Paypal & PagoEfectivo).</li>
                                    <hr>
                                    <div class="title">
                                        <img height="80" src="/static/base/img/scale_project.png" alt="">
                                    </div>
                                    <li style="margin:5px">Escalar tus proyectos reutilizando módulos creados por la comunidad con PIP</li>
                                    <hr>
                                    <div class="title">
                                        <img height="80" src="/static/base/img/git_logo.png" alt="">
                                    </div>
                                    <li style="margin:5px">Usar Git el sistema de control de versiones más populares del mundo </li>
                                    <hr>
                                    <div class="title">
                                        <img height="80" src="/static/base/img/multiplataforma.png" alt="">
                                    </div>
                                    <li style="margin:5px">Desarrollo de software multiplataforma <br/> (Windows/Linux/MAC) </li>
                                    <hr>
                                    <div class="title">
                                        <img height="80" src="/static/base/img/crawler.png" alt="">
                                    </div>
                                    <li style="margin:5px">Web Scraping & Crawler (arañas web). <br>(Framework Scrapy, BeautifulSoup, Requests, Re)</li>
                                    <hr>
                                    <div class="title">
                                        <img height="80" src="/static/base/img/bd.png" alt="">
                                    </div>
                                    <li style="margin:5px">Base de datos con SQLAlchemy <br>(SqlLite3 & PostgreSQL)</li>
                                    <hr>

                                    <div class="title">
                                        <img height="80" src="/static/base/img/acelerar.png" alt="">
                                    </div>
                                    <li style="margin:5px">Testing de Software & automatización de websites & QA <br>(Framework Selenium)</li>
                                    <hr>
                                    <div class="title">
                                        <img height="80" src="/static/base/img/api.png" alt="">
                                    </div>
                                    <li style="margin:5px">Crear y Consumir APIs. <br/> (Libreria Requests)</li>
                                    <hr>

                                    <div class="title">
                                        <img height="80" src="/static/base/img/robot.png" alt="">
                                    </div>
                                    <li style="margin:5px">Bots, automatización, scripting y seguridad informática.</li>
                                    <hr>
                                    <div class="title">
                                        <img height="80" src="/static/base/img/ui_qt.png" alt="">
                                    </div>
                                    <li style="margin:5px">Diseño de Interfaces Gráficas. <br>(Qt designer)</li>
                                    <hr>

                                    <div class="title">
                                        <img height="80" src="/static/base/img/ojo.png" alt="">
                                    </div>
                                    <li style="margin:5px">Visión Artificial, reconocimiento facial y objetos. <br>(Libreria OpenCv)</li>
                                    <hr>

                                    <div class="title">
                                        <img height="80" src="/static/base/img/chatbot.png" alt="">
                                    </div>
                                    <li style="margin:5px">Chatbos con Python<br>(Framework RasaNlu & ChatterBot)</li>
                                    <hr>

                                    <div class="title">
                                        <img height="80" src="/static/base/img/machine-ln.png" alt="">
                                    </div>
                                    <li style="margin:5px">Inteligencia Artifical, Machine Learning & Deep Learning <br>(Framework Tensorflow y Keras)</li>
                                    <hr>

                                    <div class="title">
                                        <img height="78" src="/static/base/img/aws_logo.png" alt="">
                                    </div>
                                    <li style="margin:5px">Despliega tu proyecto en AWS y Lambda con Python <br>(Amazon Web Services) </li>
                                    <hr>
                                    <div class="title">
                                        <img height="85" src="/static/base/img/alexa-logo-5.jpg" alt="">
                                    </div>
                                    <li style="margin:5px">Desarrollo de Skills con Alexa Asistente, Domótica, Internet de las cosas, Hardware y mucho más! <br>(Kit Alexa Skills)</li>

                                </ul>
                            </p>
                        </div>
                    </div>
                </div>

                <br/>



                <a href="https://{{uri_whatsapp}}.whatsapp.com/send?phone=51935489552&text=Hola%2C%20quisiera%20más%20información." class="btn_1 d-block" style="margin:10px;font-size:1.1rem;text-align:center">
                    <b>
                        Más Información
                    </b>
                </a>
                <br>
                <div class="content_wrapper">
                    <div class="blog_details">
                        <div class="content">
                            <div class="title">
                                <img height="80" src="/static/base/img/computer.png" alt="">
                            </div>
                            <h3 class="title">¿ REQUISITOS ANTES DE INICIAR ?</h3>
                            <p>
                                <ul class="unordered-list" style="font-size:1.1rem">
                                    <li style="margin:5px">Laptop & Computadora</li>
                                    <li style="margin:5px">Internet Estable</li>
                                    <li style="margin:5px">Auriculares con micrófonos para Live Coding y videollamada</li>
                                </ul>
                            </p>
                            <br/>
                        </div>
                    </div>
                </div>

                {% include "fecha_inicio.html" %}

                <br>
                <a href="https://{{uri_whatsapp}}.whatsapp.com/send?phone=51935489552&text=Hola%2C%20quisiera%20más%20información." class="btn_1 d-block" style="margin:10px;font-size:1.1rem;text-align:center">
                    <b>
                        Más Información
                    </b>
                </a>
                <br>

            </div>



                <div class="col-lg-5 right-contents">

                    <div class="blog_details">
                        <h3 class="title"  style="font-size:1.5rem; padding:7px; text-align:center">
                            ¿QUÉ INCLUYE ESTA MENTORÍA?
                         </h3>

                        <ul class="unordered-list">
                            <li>
                                <p style="font-size:1.1rem; margin:5px">
                                    Mentorías dinámicas (Live Coding) con aprendizaje grupal. <br> (máximo 5 alumnos por sesión).
                                </p>
                            </li>
                            <li>
                                <p style="font-size:1.1rem; margin:5px">Acceso 24/7 a la plataforma de proyectos, código y videos exclusivos.</p>
                            </li>
                            <li>
                                <p style="font-size:1.1rem; margin:5px">Aprende creando proyectos reales.</p>
                            </li>
                            <li>
                                <p style="font-size:1.1rem; margin:5px">Mentoría durante 6 meses <br> (Live Coding & videollamada & Plataforma) </p>
                                <ul class="unordered-list">
                                    <li style="font-size:1.1rem;color:#666666"> 4 sesiones mensual </li>
                                    <li style="font-size:1.1rem;color:#666666"> 1 sesión de 3 horas(break de 15m) a la semana</li>
                                    <li style="font-size:1.1rem;color:#666666"> 12 horas de mentoring mensual</li>
                                </ul>
                            </li>
                            <li>
                                <p style="font-size:1.1rem; margin:5px">Al culminar la mentoría de 6 meses obtendrás tu propio Ecommerce basado en Python/django con multiples Pasarelas de Pago. </p>

                            </li>
                            <li>
                                <p style="font-size:1.1rem; margin:5px">Mentalidad Startup </p>
                            </li>
                            <div>
                                <li>
                                    <p style="font-size:1.1rem; margin:5px">Certificado digital al culminar mentoría <br>
                                </li>
                                <a target="_blank" href="/static/base/files/certificado-oficial.pdf">Ver Certificado</a>
                                <a target="_blank" href="/static/base/files/certificado-oficial.pdf">
                                    <img height="250" src="/static/base/img/certi.png" alt="">
                                </a>
                                </p>
                            </div>

                        </ul>
                        <br>
                        <a href="https://{{uri_whatsapp}}.whatsapp.com/send?phone=51935489552&text=Hola%2C%20quisiera%20más%20información." class="btn_1 d-block" style="margin:10px;font-size:1.1rem;text-align:center">
                            <b>
                                Más Información
                            </b>
                        </a>
                    </div>

                    <br><br>
                    <h4 class="title">¿Qué dicen nuestros alumnos?</h4>

                    <div class="content">
                        <div class="comments-area mb-30">

                            <div class="comment-list">
                                <div class="single-comment single-reviews justify-content-between d-flex">
                                    <div class="user justify-content-between d-flex">
                                        <div>
                                            <img width="75" src="/static/base/img/user-image.png" alt="">
                                        </div>
                                        <div class="desc">
                                                <b>
                                                    <p  style="color:#666666">
                                                        Pedro Oscco
                                                    </p>
                                                </b>
                                            <div class="rating">
                                                <a href="#"><img src="/static/base/img/icon/color_star.svg" alt=""></a>
                                                <a href="#"><img src="/static/base/img/icon/color_star.svg" alt=""></a>
                                                <a href="#"><img src="/static/base/img/icon/color_star.svg" alt=""></a>
                                                <a href="#"><img src="/static/base/img/icon/color_star.svg" alt=""></a>
                                                <a href="#"><img src="/static/base/img/icon/color_star.svg" alt=""></a>
                                            </div>

                                            <p class="comment">
                            Aprendizaje claro y seguro, gracias lo certifico!
                                            </p>
                                            <p> Aprende desde Perú:  <img width="40" src="/static/base/img/peru-flag.png" alt="Perú"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="comment-list">
                                <div class="single-comment single-reviews justify-content-between d-flex">
                                    <div class="user justify-content-between d-flex">
                                        <div>
                                            <img width="75" src="/static/base/img/user-image.png" alt="México">
                                        </div>
                                        <div class="desc">
                                            <b>
                                                <p  style="color:#666666">
                                                    Esteban Pacheco
                                                </p>
                                            </b>
                                            <div class="rating">
                                                <a href="#"><img src="/static/base/img/icon/color_star.svg" alt=""></a>
                                                <a href="#"><img src="/static/base/img/icon/color_star.svg" alt=""></a>
                                                <a href="#"><img src="/static/base/img/icon/color_star.svg" alt=""></a>
                                                <a href="#"><img src="/static/base/img/icon/color_star.svg" alt=""></a>
                                                <a href="#"><img src="/static/base/img/icon/color_star.svg" alt=""></a>
                                            </div>
                                            <p class="comment">
                                                Excelentes cursos, y muy bien explicado.
                                            </p>
                                            <p>Aprende desde México:
                                                <img width="40" src="/static/base/img/mexico-flag.png" alt="peru">
                                            </p>                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="comment-list">
                                <div class="single-comment single-reviews justify-content-between d-flex">
                                    <div class="user justify-content-between d-flex">
                                        <div>
                                            <img width="75" src="/static/base/img/user-image.png" alt="México">
                                        </div>
                                        <div class="desc">
                                            <b>
                                                <p  style="color:#666666">
                                                    Cesar Luis Hurtado
                                                </p>
                                            </b>
                                            <div class="rating">
                                                <a href="#"><img src="/static/base/img/icon/color_star.svg" alt=""></a>
                                                <a href="#"><img src="/static/base/img/icon/color_star.svg" alt=""></a>
                                                <a href="#"><img src="/static/base/img/icon/color_star.svg" alt=""></a>
                                                <a href="#"><img src="/static/base/img/icon/color_star.svg" alt=""></a>
                                                <a href="#"><img src="/static/base/img/icon/color_star.svg" alt=""></a>
                                            </div>
                                            <p class="comment">
                                            </p>
                                            <p>Aprende desde Ecuador:
                                                <img width="40" src="/static/base/img/ecuador.png" alt="ecuador">
                                            </p>                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

        </div>

        <div class="content_wrapper">
            <div class="blog_details">
                <div class="content">
                    <div class="title">
                        <img height="85" src="/static/base/img/mentor_mentor.png" alt="">
                    </div>
                    <h3 class="title">¿ YA PROGRAMAS EN PYTHON Y QUIERES SER MENTOR ?</h3>
                    <p>
                        <ul class="unordered-list" style="font-size:1.1rem">
                            <li style="margin:5px">Dojopy está buscando programadores apasionados por la enseñanza que quieran generar un impacto en todo el mundo!</li>
                            <li style="margin:5px">Si conoces lo básico de Python y no cubres todas las áreas que ofrecemos, Dojopy te mentorizara personalmente y continuamente. </li>
                            <li style="margin:5px">No te preocupes por preparar contenido o plan de estudios, Dojopy se encarga de crear el contenido. </li>
                            <li style="margin:5px">Obtenga valiosas experiencias y perfecciona tus habilidades personales y de enseñanza.</li>
                            <li style="margin:5px">Sé un Mentor en Dojopy, inspira, motiva, brinda orientación a los nuevos programadores de todo el mundo!</li>
                            <li style="margin:5px">Genera tus propios ingresos económicos con horarios flexibles</li>
                        </ul>
                    </p>
                </div>
                <a href="https://{{uri_whatsapp}}.whatsapp.com/send?phone=51935489552&text=Hola!%2C%20quiero%20convertirme%20en%20Mentor." class="btn_1 d-block" style="margin:10px;font-size:1.1rem;text-align:center">
                    <b>
                        Quiero Convertirme en Mentor
                    </b>
                </a>
            </div>
        </div>

    </div>


</section>
<!--================ End Course Details Area =================-->


{% endblock %}

{% block talleres %}
{% endblock %}

{% block info_dojopy %}
{% endblock %}

{% block stack_it %}
{% endblock %}
