{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Dojopy - Taller Python</title>
{% endblock %}

{% block preview_fb %}
    <!--FACEBOOK-->
    <meta property="og:image" content="/static/base/img/image_mentor.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.dojopy.com"/>
    <meta property="og:title" content="Dojopy Mentor"/>
    <meta property="og:description" content="Aprende a programar con tu mentor." />
{% endblock %}


{% block main_content %}

<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner text-center">
                    <div class="breadcrumb_iner_item">
                        <h2>Python de Cero a Ninja</h2>
                        <p><i> Now is better than never</i> </p>
                        <p><i> Zen Python</i> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->



<section class="course_details_area section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 course_details_left">
                <!-- <div class="main_image">
                    <img class="img-fluid" src="/static/base/img/single_cource.png" alt="">
                </div> -->
                <div class="content_wrapper">
                    <div class="blog_details">
                        <div class="content">
                            <h3>¿POR QUÉ APRENDER PYTHON?</h3>
                            <p style="font-size:1.3rem">
Python es uno de los lenguajes de programación más valorados y usados a nivel mundial
 según estadísticas de <a target="_blank" href="https://insights.stackoverflow.com/survey/2019">Stack Overflow</a>
  la plataforma más grande de programadores,
 multitud de Startups y empresas lo utilizan en su día a día como Instagram, Spotify,
  Amazon, Netflix, Google, Facebook, Dropbox, Youtube, etc

                            </p>
                            <br>
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="content_wrapper">
                    <div class="blog_details">
                        <div class="content">
                            <h3>¿DONDE APLICAR PYTHON?</h3>
                            <p style="font-size:1.3rem">
                                -Desarrollo de software multiplaforma(Windows/Linux/OSX)
                                -Servicios y páginas web
                                -Data science y big data
                                -Machine learning & deep learning
                                -Bots, automatización, scripting, seguridad informática
                                -Diseño de Interfaces Gráficas (PyQT5, PySide2, Tkinter, Wxwidgets, Kivy, OpenGL)
                                -Desarrollo de  videojuegos (Panda3D, PyGame, Cocos 2D )
                                -Visión Artificial (OpenCV, Scikits Learn, PIL)
                                -Domótica,  Robótica, Internet de las cosas, Hardware
                            </p>
                            <br>
                        </div>
                    </div>
                </div>
                <br><br>

            </div>




                        <div class="col-lg-4 right-contents">
                            <div class="sidebar_top">
                                <ul>
                                    <li>
                                        <p style="font-size:1.3rem">
                                            Taller dinámico con tu mentor con aprendizaje
                                            personalizado e individual
                                        </p>
                                    </li>
                                    <li>
                                        <p style="font-size:1.3rem">Aprende desarrollando proyectos</p>
                                    </li>
                                    <li>
                                        <p style="font-size:1.3rem">3 meses de mentoria online en vivo (27 horas)</p>
                                    </li>

                                    <li>
                                        <p style="font-size:1.3rem">
                                            Aprende en cualquier momento y lugar del mundo,
                    recibe mentorías en vivo por videollamada (Skype o Hangouts),
                     forma parte de nuevas experiencias de aprendizaje.
                                        </p>
                                    </li>

                                    <li>
                                        <p style="font-size:1.3rem">Certificado digital de finalización</p>
                                    </li>

                                </ul>
                                <a href="#" class="btn_1 d-block">Reserva tu Prueba Gratuita</a>
                            </div>


                            <h4 class="title">Comentarios</h4>

                            <div class="content">
                                <div class="comments-area mb-30">
                                    <div class="comment-list">
                                        <div class="single-comment single-reviews justify-content-between d-flex">
                                            <div class="user justify-content-between d-flex">
                                                <div class="thumb">
                                                    <img src="/static/base/img/cource/cource_1.png" alt="">
                                                </div>
                                                <div class="desc">
                                                    <h5><a href="#">Emilly Blunt</a>
                                                    </h5>
                                                    <div class="rating">
                                                        <a href="#"><img src="/static/base/img/icon/color_star.svg" alt=""></a>
                                                        <a href="#"><img src="/static/base/img/icon/color_star.svg" alt=""></a>
                                                        <a href="#"><img src="/static/base/img/icon/color_star.svg" alt=""></a>
                                                        <a href="#"><img src="/static/base/img/icon/color_star.svg" alt=""></a>
                                                        <a href="#"><img src="/static/base/img/icon/color_star.svg" alt=""></a>
                                                    </div>
                                                    <p class="comment">
                                                        Blessed made of meat doesn't lights doesn't was dominion and sea earth
                                                        form
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comment-list">
                                        <div class="single-comment single-reviews justify-content-between d-flex">
                                            <div class="user justify-content-between d-flex">
                                                <div class="thumb">
                                                    <img src="/static/base/img/cource/cource_2.png" alt="">
                                                </div>
                                                <div class="desc">
                                                    <h5><a href="#">Elsie Cunningham</a>
                                                    </h5>
                                                    <div class="rating">
                                                        <a href="#"><img src="/static/base/img/icon/color_star.svg" alt=""></a>
                                                        <a href="#"><img src="/static/base/img/icon/color_star.svg" alt=""></a>
                                                        <a href="#"><img src="/static/base/img/icon/color_star.svg" alt=""></a>
                                                        <a href="#"><img src="/static/base/img/icon/color_star.svg" alt=""></a>
                                                        <a href="#"><img src="/static/base/img/icon/star.svg" alt=""></a>
                                                    </div>
                                                    <p class="comment">
                                                        Blessed made of meat doesn't lights doesn't was dominion and sea earth
                                                        form
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comment-list">
                                        <div class="single-comment single-reviews justify-content-between d-flex">
                                            <div class="user justify-content-between d-flex">
                                                <div class="thumb">
                                                    <img src="/static/base/img/cource/cource_3.png" alt="">
                                                </div>
                                                <div class="desc">
                                                    <h5><a href="#">Maria Luna</a>
                                                    </h5>
                                                    <div class="rating">
                                                        <a href="#"><img src="/static/base/img/icon/color_star.svg" alt=""></a>
                                                        <a href="#"><img src="/static/base/img/icon/color_star.svg" alt=""></a>
                                                        <a href="#"><img src="/static/base/img/icon/color_star.svg" alt=""></a>
                                                        <a href="#"><img src="/static/base/img/icon/color_star.svg" alt=""></a>
                                                        <a href="#"><img src="/static/base/img/icon/star.svg" alt=""></a>
                                                    </div>
                                                    <p class="comment">
                                                        Blessed made of meat doesn't lights doesn't was dominion and sea earth
                                                        form
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


            <div class="col-lg-8 course_details_left">
                <div class="content_wrapper">
                    <div class="blog_details">
                        <h4>Estructura Python de Cero a Ninja</h4>
                        <div class="content">
                            <ul class="course_list">
                                <li class="justify-content-between align-items-center d-flex">
                                    <p>Introduction Lesson</p>
                                </li>
                                <li class="justify-content-between align-items-center d-flex">
                                    <p>Responsive Design</p>
                                </li>
                                <li class="justify-content-between align-items-center d-flex">
                                    <p>Canvas in HTML 5</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>




        </div>
    </div>
</section>
<!--================ End Course Details Area =================-->






{% endblock %}

{% block talleres %}
{% endblock %}

{% block info_dojopy %}
{% endblock %}

{% block stack_it %}
{% endblock %}
