{% extends "base.html" %}

{% block title %}
<title>Dojopy - Taller Python</title>
{% endblock %}

{% block preview_fb %}
    <!--FACEBOOK-->
    <meta property="og:image" content="/static/base/img/back_priview.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.dojopy.com"/>
    <meta property="og:title" content="Dojopy Mentor"/>
    <meta property="og:description" content="Aprende a Programar Creando una Startup con tu Mentor." />
{% endblock %}


{% block main_content %}

<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner text-center">
                    <div class="breadcrumb_iner_item">
                        <h2>Python de Cero a Ninja</h2>
                        <p style="font-size:1.4rem; color:white"><i> Now is better than never</i> </p>
                        <p style="font-size:1.4rem; color:white"><i> - Zen Python</i> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->


<section class="course_details_area section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 course_details_left">
                <!-- <div class="main_image">
                    <img class="img-fluid" src="/static/base/img/single_cource.png" alt="">
                </div> -->

                <div class="content_wrapper">
                    <div class="blog_details">
                        <div class="content">
                            <div class="title">
                                <img height="117" src="/static/base/img/img_mentor.png" alt="">
                            </div>

                            <h3 class="title">¿POR QUÉ UN MENTOR?</h3>
                            <p style="font-size:1.1rem">
                                👋 Hola!, en internet hay mucho contenido sobre programación, en varios formatos como cursos online, videos, ebooks, blog, etc. <br>
                                Sin embargo en este mar de información algunos suelen perderse o tropezar en errores que todo aprendiz comete y no lograr concretar el objetivo de aprender a programar.<br>
                                Es por ello que nuestros Programadores y Mentores apasionados te guiarán en esta aventura, con dinámicas de aprendizaje personalizado e individual(1 a 1),
                                desarrollando proyectos, compartiendo pantalla, videollamada y código en vivo (Live Coding) con tu Mentor.
                            </p>
                            <br/>
                        </div>
                    </div>
                </div>
                <br>
                <div class="content_wrapper">
                    <div class="blog_details">
                        <div class="content">
                            <div class="title">
                                <img height="117" src="/static/base/img/learn.png" alt="">
                            </div>
                            <h3 class="title">¿QUÉ APRENDERÁS EN 1 MES?</h3>
                            <p>
                                <ul class="unordered-list" style="font-size:1.1rem">
                                    <li style="margin:5px">Utilizar el lenguaje de programación Python.</li>
                                    <li style="margin:5px">Resolver problemas y crear soluciones en cualquier área profesional  desarrollando  proyectos y algoritmos con Python.</li>
                                    <li style="margin:5px">Escalar tus proyectos reutilizando módulos creados por la comunidad con PIP </li>
                                    <li style="margin:5px">Usar Git el sistema de control de versiones más populares del mundo </li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>

                <br>
                <div class="content_wrapper">
                    <div class="blog_details">
                        <div class="content">
                            <div class="title">
                                <img height="120" src="/static/base/img/python_logo.png" alt="">
                            </div>
                            <h3 class="title">¿POR QUÉ APRENDER PYTHON?</h3>
                            <p style="font-size:1.1rem">
Python es uno de los lenguajes de programación más valorados y usados a nivel mundial
 según estadísticas de <a target="_blank" href="https://insights.stackoverflow.com/survey/2019">Stack Overflow</a>
  la plataforma más grande de programadores,
 multitud de Startups y empresas lo utilizan en su día a día como Instagram, Spotify,
  Amazon, Netflix, Google, Facebook, Dropbox, Youtube, etc <br>
  Python es flexible, claro y con un código legible para todos.

                            </p>
                            <br/>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="content_wrapper">
                    <div class="blog_details">
                        <div class="content">
                            <div class="title">
                                <img height="100" src="/static/base/img/crecimiento.png" alt="">
                            </div>
                            <h3 class="title">¿SABES CUANTO GANA UN PROGRAMADOR DE PYTHON?</h3>
                            <p style="font-size:1.1rem">
                                En Latinoamérica, Europa y EEUU los sueldos anuales de un progamador de Python están
                                 alrededor de $25.000 usd ~ $57.000 usd ~ $116.000 usd. <br>
                                 “Python el lenguaje de Programación mejor Pagado y con más Futuro“.
                            </p>
                            <br/>
                        </div>
                    </div>
                </div>

                <div class="content_wrapper">
                    <div class="blog_details">
                        <div class="content">
                            <div class="title">
                                <img height="80" src="/static/base/img/all_python.png" alt="">
                            </div>
                            <h3 class="title">¿QUÉ PUEDO DESARROLLAR CON PYTHON?</h3>
                            <p>
                                <ul class="unordered-list" style="font-size:1.1rem">
                                    <li style="margin:5px">Desarrollo de software multiplataforma <br/> (Windows/Linux/MAC)</li>
                                    <li style="margin:5px">Desarrollo de servicios y plataformas web <br/> (Django y Flask)</li>
                                    <li style="margin:5px">Inteligencia Artifical <br/>(Machine Learning & Deep Learning)</li>
                                    <li style="margin:5px">Data Science y Big Data.</li>
                                    <li style="margin:5px">Bots, automatización, scripting, seguridad informática.</li>
                                    <li style="margin:5px">Desarrollo de Skills con Alexa Asistente.</li>
                                    <li style="margin:5px">Diseño de Interfaces Gráficas.</li>
                                    <li style="margin:5px">Desarrollo de  videojuegos.</li>
                                    <li style="margin:5px">Visión Artificial, reconocimiento facial y objetos.</li>
                                    <li style="margin:5px">Domótica,  Robótica, Internet de las cosas, Hardware y mucho más!</li>
                                </ul>
                            </p>
                            <br/>
                        </div>
                    </div>
                </div>
                <br/>



                <div class="content_wrapper">
                    <div class="blog_details">
                        <div class="content">
                            <div class="title">
                                <img height="80" src="/static/base/img/computer.png" alt="">
                            </div>
                            <h3 class="title">¿REQUISITOS ANTES DE INICIAR?</h3>
                            <p>
                                <ul class="unordered-list" style="font-size:1.1rem">
                                    <li style="margin:5px">Computadora Personal </li>
                                    <li style="margin:5px">Internet Estable</li>
                                </ul>
                            </p>
                            <br/>
                        </div>
                    </div>
                </div>

                {% include "fecha_inicio.html" %}

                <br>
                <a href="https://{{uri_whatsapp}}.whatsapp.com/send?phone=51935489552&text=Hola%2C%20quisiera%20más%20información." class="btn_1 d-block" style="margin:10px;font-size:1.1rem;text-align:center">
                    <b>
                        Más Información y Costos
                    </b>
                </a>
                <br>
                <div class="content_wrapper">
                    <div class="blog_details">
                        <div class="content">
                            <h3 class="title">¿QUÉ APRENDERAS?</h3>
                        <ul class="unordered-list" style="font-size:1.1rem; color:#666666">
                            <li> Introducción al lenguaje de programación python</li>
                            <li> Instalación de Python y mi primer programa "Hola Mundo"</li>
                            <li>Preparando el entorno de desarrollo con Virtualenv</li>
                            <li>Tipos de datos:
                                <ul>
                                    <li>Booleanos</li>
                                    <li>Enteros</li>
                                    <li>Flotantes</li>
                                    <li>Listas</li>
                                    <li>Tuplas</li>
                                    <li>Diccionarios y Conjuntos SET</li>
                                </ul>
                            </li>

                            <li>Operadores lógicos y Flujos de control
                                <ul>
                                    <li>Operadores, Sentencias</li>
                                    <li>Condicionales(if else), multiples</li>
                                    <li>Bucles FOR Y WHILE</li>
                                </ul>
                            </li>

                            <li>  Entradas y Salidas Estándar</li>
                            <li> Lectura y Escritura de Ficheros</li>
                            <li> Funciones, argumentos</li>
                            <li> Manejo de Excepciones(try except)</li>
                            <li> Módulos y paquetes</li>
                            <li>Guardando y leyendo datos con JSON</li>
                            <li>Algoritmos de búsqueda:
                                <ul>
                                    <li>Búsqueda lineal</li>
                                    <li>Búsqueda binaria</li>
                                </ul>
                            </li>
                            <li>Encriptando datos con Python</li>
                            <li>Concurrencia en Python con Hilos(Threads) y Multi Procesos</li>
                            <li>Sockets</li>
                            <li>Enviando correos automaticamente por SMTP</li>
                            <li>Base de datos con Python</li>
                            <li>Programación orientada a objetos (POO), Clases y Objetos</li>
                            <li>Expresiones regulares</li>
                            <li>módulos de scraping</li>
                            <li>Proyectos de  Web Scraping</li>
                            <li>Tips y Buenas prácticas en desarrollo:
                                <ul>
                                    <li>Funciones Anónimas, Generadores y Decoradores</li>
                                </ul>
                            </li>
                        </ul>
                        </div>
                    </div>
                </div>


            </div>

                <div class="col-lg-5 right-contents">

                    {% include "item_product.html" %}
                    <br>

                    <div class="blog_details">
                        <h3  class="title"  style="font-size:1.5rem; padding:7px; text-align:center">
                            ¿QUÉ INCLUYE ESTE TALLER?
                         </h3>

                        <ul class="unordered-list">
                            <li>
                                <p style="font-size:1.1rem; margin:5px">
                                    Aprende de tu Mentor con dinámicas de
                                    aprendizaje personalizado e individual (live coding).
                                </p>
                            </li>
                            <li>
                                <p style="font-size:1.1rem; margin:5px">Aprende creando proyectos reales.</p>
                            </li>
                            <li>
                                <p style="font-size:1.1rem; margin:5px">Acceso ilimitado la plataforma de proyectos, código y videos exclusivo de Dojopy para complementar la mentoría.</p>
                            </li>
                            <li>
                                <p style="font-size:1.1rem; margin:5px">12 horas de mentoría </p>
                                <ul class="unordered-list">
                                    <li style="font-size:1.1rem;color:#666666"> Sesiones Live Coding de 3 horas(15 minutos de break)</li>
                                    <li style="font-size:1.1rem;color:#666666"> 1 sesión/semana </li>
                                    <li style="font-size:1.1rem;color:#666666"> Total 4 sesiones con el mentor </li>

                                </ul>
                            </li>
                            <li style="font-size:1.1rem;color:#666666">
                                Escoge tu horario más ideal para empezar la mentoría.
                            </li>
                            <li>
                                <p style="font-size:1.1rem; margin:5px">Certificado digital al culminar taller <br>
                                <a target="_blank" href="/static/base/files/certificado-oficial.pdf">Ver Certificado</a>
                                <a target="_blank" href="/static/base/files/certificado-oficial.pdf">
                                    <img height="250" src="/static/base/img/certi.png" alt="">
                                </a>
                                </p>
                            </li>

                        </ul>
                        <br>
                        <a href="https://{{uri_whatsapp}}.whatsapp.com/send?phone=51935489552&text=Hola%2C%20quisiera%20más%20información." class="btn_1 d-block" style="margin:10px;font-size:1.1rem;text-align:center">
                            <b>
                                Más Información y Costos
                            </b>
                        </a>
                    </div>

                    <br><br>
                    <h4 class="title">¿Qué dicen nuestros alumnos?</h4>

                    <div class="content">
                        <div class="comments-area mb-30">

                            <div class="comment-list">
                                <div class="single-comment single-reviews justify-content-between d-flex">
                                    <div class="user justify-content-between d-flex">
                                        <div>
                                            <img width="75" src="/static/base/img/user-image.png" alt="">
                                        </div>
                                        <div class="desc">
                                                <b>
                                                    <p  style="color:#666666">
                                                        Pedro Oscco
                                                    </p>
                                                </b>
                                            <div class="rating">
                                                <a href="#"><img src="/static/base/img/icon/color_star.svg" alt=""></a>
                                                <a href="#"><img src="/static/base/img/icon/color_star.svg" alt=""></a>
                                                <a href="#"><img src="/static/base/img/icon/color_star.svg" alt=""></a>
                                                <a href="#"><img src="/static/base/img/icon/color_star.svg" alt=""></a>
                                                <a href="#"><img src="/static/base/img/icon/color_star.svg" alt=""></a>
                                            </div>

                                            <p class="comment">
                            Aprendizaje claro y seguro, gracias lo certifico!
                                            </p>
                                            <p> Alumno de:  <img width="40" src="/static/base/img/peru-flag.png" alt="Perú"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="comment-list">
                                <div class="single-comment single-reviews justify-content-between d-flex">
                                    <div class="user justify-content-between d-flex">
                                        <div>
                                            <img width="75" src="/static/base/img/user-image.png" alt="México">
                                        </div>
                                        <div class="desc">
                                            <b>
                                                <p  style="color:#666666">
                                                    Esteban Pacheco
                                                </p>
                                            </b>
                                            <div class="rating">
                                                <a href="#"><img src="/static/base/img/icon/color_star.svg" alt=""></a>
                                                <a href="#"><img src="/static/base/img/icon/color_star.svg" alt=""></a>
                                                <a href="#"><img src="/static/base/img/icon/color_star.svg" alt=""></a>
                                                <a href="#"><img src="/static/base/img/icon/color_star.svg" alt=""></a>
                                                <a href="#"><img src="/static/base/img/icon/color_star.svg" alt=""></a>
                                            </div>
                                            <p class="comment">
                                                Excelentes cursos, y muy bien explicado.
                                            </p>
                                            <p>Alumno de:
                                                <img width="40" src="/static/base/img/mexico-flag.png" alt="peru">
                                            </p>                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

        </div>



    </div>
</section>
<!--================ End Course Details Area =================-->


{% endblock %}

{% block talleres %}
{% endblock %}

{% block info_dojopy %}
{% endblock %}

{% block stack_it %}
{% endblock %}
